//
// Pages :: H4 Item Detail
// --------------------------------------------------

.page-item-detail {
  padding: 0;
  margin-bottom: 133px;

  @include respond-to(smallphone-and-down) {
    margin-bottom: 90px;
  }

  .product {
    @include respond-to(smallphone-and-down) {
      padding: 0;
      box-shadow: none;
    }
  }

  .item-detail {
    &__group_title {
      padding: 40px 0;
      color: $black-lighter;

      @include respond-to(tablet-and-down) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 16px;
      font-weight: $font-weight-bold;

      @include respond-to(smallphone-and-down) {
        margin-bottom: 10px;
      }
    }

    &__subtitle {
      font-weight: $font-weight-normal;
    }
  }

  .product-general {
    @include respond-to(smallphone-and-down) {
      padding-bottom: 24px;
      border-bottom: 1px solid $brown;
    }

    &__image {
      &--present {
        @include respond-to(smallphone-and-down) {
          border-radius: 0;
        }
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;

      @include respond-to(tablet-and-down) {
        margin-top: 16px;
      }

      &__view_count {
        margin-bottom: 5px;
        color: $gray-lighter;
        font-family: $font-family-primary;
        font-weight: $font-weight-bold;

        @include respond-to(smallphone-and-down) {
          display: table;
          margin-bottom: 10px;
          font-size: $font-size-average;
        }
      }

      &__view_count_inner {
        @include respond-to(smallphone-and-down) {
          display: table-cell;
          vertical-align: middle;
        }
      }

      &--right {
        .product-general {
          &__info {
            &--favorites {
              margin-bottom: 0;

              @include respond-to(tablet-and-down) {
                height: 40px;
                margin: 10px 0;
              }
            }
          }

          &__sharing {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;

            &_icon {
              display: inline-block;
              width: 25px;
              height: 26px;
              background: transparent url($path-image + 'ic-share.svg') center no-repeat;
            }
          }
        }
      }
    }

    &__info {
      &--title {
        @extend %truncate;

        @include respond-to(desktop-and-down) {
          margin-top: 0;
        }
      }
    }

    .main-title {
      @include respond-to(smallphone-and-down) {
        font-size: $font-size-average;
      }
    }
  }

  .product-details {
    &__descriptions {
      @include respond-to(smallphone-and-down) {
        padding-bottom: 24px;
        border-bottom: 1px solid $brown;
      }
    }
  }

  .product-address {
    @include respond-to(smallphone-and-down) {
      padding-bottom: 24px;
      border-bottom: 1px solid $brown;
    }

    &__media_body {
      vertical-align: middle;
    }

    &__achievements {
      h2,
      h4 {
        color: $gray-lighter;
      }
    }
  }
}

.modal-ask-installing-app {
  .modal-footer {
    button {
      &:first-child {
        margin-right: 10px;

        @include respond-to(smallphone-and-down) {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-left: 10px;

        @include respond-to(smallphone-and-down) {
          margin-left: 0;
        }
      }
    }
  }
}

.page-item-detail-sidebar {
  .product,
  .product-related {
    @include respond-to(smallphone-and-down) {
      padding: 15px;
    }
  }
}

.modal-register {
  @include respond-to(smallphone-and-down) {
    &:before {
      content: none;
    }

    .modal-dialog {
      margin: 0;
      height: 100%;
      display: block;
    }

    .form-customize .form-group {
      margin-bottom: 25px;

      .form-control {
        border-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        background-color: $white;
        border-radius: 6px;
      }
    }
  }

  .show-in-mobile {
    display: none;

    @include respond-to(smallphone-and-down) {
      display: block;
    }
  }

  .show-in-desktop {
    display: block;

    @include respond-to(smallphone-and-down) {
      display: none;
    }
  }

  .modal-content {
    border-radius: 6px;
    overflow: hidden;

    @include respond-to(smallphone-and-down) {
      border-radius: 0;
      height: 100%;
      background-color: #f6f6f6;
    }
  }

  .modal-header {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;

    @include respond-to(smallphone-and-down) {
      background-color: $white;
      padding: 15% 20px 40px;
    }

    .desc {
      text-align: center;
      margin-top: 10%;
    }

    .button-facebook {
      margin-top: 10px;
    }
  }

  .modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  .modal-cancel {
    position: absolute;
    left: 32px;
    top: 18px;
    color: #aeaeae;
    cursor: pointer;

    @include respond-to(smallphone-and-down) {
      display: none;
    }
  }

  .modal-body {
    padding: 10px 32px 50px;

    @include respond-to(smallphone-and-down) {
      padding: 10px 20px 30px;
    }

    .desc {
      text-align: center;
      margin-top: 15px;
    }
  }

  .form-customize {
    margin-top: 30px;

    @include respond-to(smallphone-and-down) {
      margin-top: 20px;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .note-input {
    margin-top: 6px;
    margin-left: 7px;
    font-size: 12px;
    color: #676767;
  }

  .button-register {
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 17px;
    border-radius: 5px;
  }

  .seperator {
    display: inline-block;
    margin-top: 28px;
    position: relative;
    color: #7c7c7c;
    font-size: 12px;

    &:before,
    &:after {
      content: '';
      width: 45px;
      height: 1px;
      background-color: #979797;
      position: absolute;
      top: 7px;
    }

    &:before {
      right: 100%;
      margin-right: 8px;
    }

    &:after {
      left: 100%;
      margin-left: 8px;
    }
  }

  .button-facebook {
    margin-top: 28px;
    background-color: #3b579d;
    font-size: 16px;
    border-radius: 5px;
  }

  .privacy {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 1px
  }

  .modal-footer {
    background-color: #f4f4f4;
    padding-top: 16px;
    padding-bottom: 16px;

    @include respond-to(smallphone-and-down) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: transparent;
      padding-left: 20px;
      padding-right: 20px;

      .text-center {
        text-align: left;
      }
    }

    p + p {
      margin-top: 15px;
    }
  }

  .link {
    font-weight: 700;
    color: $black;
  }
}

.modal-success {
  .modal-header,
  .modal-footer {
    padding: 0;
  }

  .modal-body {
    padding: 34px 22px 40px;
    text-align: center;
  }

  .main-title {
    font-size: 17px;
  }

  .sub-title {
    margin-top: 29px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.modal-facebook {
  .modal-header,
  .modal-footer {
    padding: 0;
  }

  .modal-body {
    padding: 40px 33px;
  }

  .main-title {
    font-size: 17px;
    font-weight: 400;
  }

  .sub-title {
    line-height: 1.29;
    font-size: 14px;
    margin-top: 32px;
  }

  .note {
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.38;
    color: #f24a65;
  }

  .form-customize {
    margin-top: 20px;
  }

  .wrap-button {
    padding: 42px 19px 0;
  }
}
