//
// Pages :: S3 Inventory Request Not Supported
// --------------------------------------------------

.shop-store-item {
  &__disable {
    background: $silver;
  }

  &__shipping-title {
    display: flex;
  }

  &__shipping-name {
    min-width: 100px;
  }
}
