//
// Pages :: S51 New Event Creation (Input Completion Screen)
// --------------------------------------------------
.page-shop-details {
  @include respond-to(smallphone-and-down) {
    padding: 10px;
  }
}

.shop-detais {
  padding: 40px 0;
  background: $white;
  box-shadow: 0 1px 10px rgba($black, .05);

  @include respond-to(large-desktop-and-down) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-to(smallphone-and-down) {
    padding: 15px 25px;
  }
}

.detail-event {
  @include respond-to(large-desktop-and-down) {
    width: 60%;
    float: left;
  }

  @include respond-to(tablet-and-down) {
    width: 70%;
  }

  @include respond-to(phone-and-down) {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  @include respond-to(smallphone-and-down) {
    margin-top: 15px;
  }
}

.detail-logo {
  padding-left: 0;

  @include respond-to(large-desktop-and-down) {
    width: 30%;
    float: left;
  }

  @include respond-to(phone-and-down) {
    width: 100%;
  }

  @include respond-to(smallphone-and-down) {
    padding-right: 0;
  }

  &-img {
    max-width: 170px;
    max-height: 170px;
    border-radius: $border-radius-base;
    border: 1px solid $border-color-secondary;
    overflow: hidden;

    @include respond-to(smallphone-and-down) {
      margin: auto;
    }
  }
}

.details-item {
  &__text {
    display: inline-block;
    float: left;
    margin-right: 93px;

    @include respond-to(large-desktop-and-down) {
      margin-right: 66px;
    }

    @include respond-to(phone-and-down) {
      margin-right: 70px;
    }

    @include respond-to(smallphone-and-down) {
      margin-right: 0;
      width: calc(100% / 3);
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__text-quanlity {
    color: $black-lighter;
    font-family: $font-family-extra;
    font-size: $font-size-larger;
    letter-spacing: 1px;
    line-height: 42px;
    margin-bottom: 5px;
  }

  &__text-des {
    color: $gray-silver;
    font-size: $font-size-medium;
    line-height: 8px;
  }

  .group-button {
    margin-top: 25px;
    display: inline-block;

    @include respond-to(smallphone-and-down) {
      display: inherit;
      clear: both;
      padding-top: 15px;
    }

    .button {
      margin: 0;

      @include respond-to(tablet-and-down) {
        width: 380px;
      }

      @include respond-to(phone-and-down) {
        width: 365px;
      }

      @include respond-to(smallphone-and-down) {
        width: 100%;
      }
    }
  }

  .sty-icon-location {
    font-size: $font-size-large;
    padding-right: 10px;
  }
}

.detais-content {
  margin-top: 55px;

  @include respond-to(smallphone-and-down) {
    margin-top: 15px;
  }

  &__title {
    font-size: $font-size-extra-large + 2;
    color: $black-lighter;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
  }

  &__add {
    font-size: $font-size-base;
    color: $gray-lighter;
    margin-top: 20px;
    display: inline-block;

    @include respond-to(smallphone-and-down) {
      margin-top: 15px;
    }
  }

  &-description {
    font-size: $font-size-base;
    color: $black-lighter;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 35px;

    @include respond-to(smallphone-and-down) {
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 25px;
      word-break: break-word;
    }
  }
}
