include modules/_page-list/_page-list
include modules/header/header
include modules/head/head

doctype html
html
  +head(head.page_list)
  body.u-pt20
    div.page
      +page-list(pageList.data)
