include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/sidebar/sidebar
include modules/elements/elements
include modules/modals/modals
include modules/import-script/import-script

doctype html
html
  +head(head.s29_profile_infomation)
  body.main-page
    +header-staff()

    main.dashboard-container(role='main')
      +sidebar()
      section.dashboard-content.page-profile-infomation
        .inner-content.account-info
          .inner-content-title プロフィール情報
          form.box-content-profile-information
            .row
              .col-md-4
                .box-images
                  .box-description
                    .box-images-content
                      .images
                      i.icon-uploads
                    .box-text-images
                      p.text-first ショップ画像
                      p.text-second (300x300px以上推奨)
              .col-md-6
                .box-content
                  .form-customize
                    .field-wrapper
                      +input-field('ショップ名', '必須', '', 'ショップ名入力してください', '', '', '', '', '17/40')
                    .field-wrapper.field-info
                      +textarea('紹介文', '必須', 'ショップ紹介文を入力してください', '', '0/1000')
                    .field-wrapper
                      +input-field('郵便番号', '必須', '', '', '', '', '', '', '')
                    .field-wrapper
                      .row
                        .col-md-4
                          +input-field('住所', '必須', '', '都道府県を入力してください', '', '')
                    .field-wrapper
                      .row
                        .col-md-4
                          .no-notice
                            +selectBox('都道府県', '必須', 'Option A', '', '', 'Option B')
                    .field-wrapper
                      +input-field('住所', '必須', '', '都道府県以下の住所を入力してください', '', '', '', '', '0/40')
                    .field-wrapper
                      +input-field('最寄駅', '必須', '', '最寄駅を入力してください', '', '', '', '', '0/40')
                    .field-wrapper
                      +input-field('電話番号', '必須', '', 'URLを入力してください', '', '', '', '', '0/40')
                    .field-wrapper
                      +input-field('ホームページ', '必須', '', '電話番号を入力してください', '', '', '', '', '0/40')
                    .field-wrapper
                      .form-group
                        label 営業時間、定休日
                          span.text 必須
                        table.styler-table
                          tr
                            th
                            th OPEN
                            th
                            th CLOSE
                            th 定休日
                          tr
                            td(data-th='') 日
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-one', 'read-only-one', '','')
                          tr
                            td(data-th='') 月
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-two', 'read-only-two', '','')
                          tr
                            td(data-th='') 火
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-three', 'read-only-three', '','')
                          tr
                            td(data-th='') 水
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-four', 'read-only-four', '','')
                          tr
                            td(data-th='') 木
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-five', 'read-only-five', '','')
                          tr
                            td(data-th='') 金
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-six', 'read-only-six', '','')
                          tr
                            td(data-th='') 土
                            td(data-th='OPEN')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td.space(data-th='') -
                            td(data-th='CLOSE')
                              .box-input-inner.time-picker
                                input(class="form-control js-time-picker" type="text" id="" placeholder="00:00 AM" value="")
                                i.visible-lg-inline-block.visible-md-inline-block.sty-icon-access-time
                            td(data-th='定休日')
                              +checkbox-custom('read-only-seven', 'read-only-seven', '','')
            .box-button-profile-information
              .button-profile-infomation.text-center
                +button('更 新')(class='button--primary-danger button--primary button--w270')
        .title-profile-infomation 口座登録パスワード
        .inner-content.account-info
          .row
            .col-md-6.col-md-offset-3
              .inner-content-custom
                form.form-customize
                  .field-wrapper
                      +input-field('パスワード', '必須', '', 'パスワードを入力してください', '', '')
                  .field-wrapper.filed-wrapper-custom
                    +input-field('パスワード再入力', '必須', '', 'パスワードを再入力してください', '', '')
                  p.text ※パスワードは半角英数字で８文字以上入力してください
                  .box-button-profile-information
                    .button-profile-infomation.text-center
                      +button('登録口座変更', 'button')(class='button--primary button--w270' data-toggle='modal' data-target='#modal-confirm-submit')
    +footer()

    +snackbarStaff()

    //- Modal confirm
    +modal('modal-confirm-submit', 'modal-sm')(class='modal-comfirm modal-vertical-middle')
      +inject('modal-header')
      +inject('modal-body')
        .text-center
          p.subtitle パスワードの変更・再設定をご希望ですか？「送信」を押下すると、パスワード設定のためのURLが ご登録のメールアドレスに送信されます。
          p.subtitle ※お手続きが完了するまでパスワードは変更されません。
      +inject('modal-footer')
        .text-center
          +button('キャンセル', '')(class='button--cancel button--w160')
          +button('送信', '')(class='button--primary button--w160')

    +import-script()
