include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/sidebar/sidebar
include modules/elements/elements
include modules/media/media
include modules/import-script/import-script

doctype html
html
  +head(head.s36_new_arrival_post)
  body.main-page
    +header-staff()

    main.dashboard-container(role='main')
      +sidebar()

      section.dashboard-content.page-new-arrival-post
        .box-item
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_5.png' alt='')
                    .box-profile-content
                      h3.title 佐藤琢美
                      .breadcrumb-link 21歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray ニット・スウェット

                .box-inner
                  p.text サマーニット探してます！2万で

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_4.png' alt='')
                    .box-profile-content
                      h3.title 佐藤琢美
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray アクセサリー・時計
                .box-inner
                  p.text 使い回しやすいベルトはありませんか？
                .box-content
                  .count-images PostへのReply (1)
                  .box-content-images
                    .item-images-1
                      img.item-images(src='images/img19.png' alt='')

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_4.png' alt='')
                    .box-profile-content
                      h3.title Dustin Walker
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray アクセサリー・時計
                .box-inner
                  p.text 長時間履いても疲れない、アクティブなスポーツ系のスニーカーを探しています。都会っぽいイメージのものが良いです。
                .box-content
                  .count-images PostへのReply (6)
                  .box-content-images
                    .item-images-4
                      .item-images
                        img(src='images/img06.png' alt='')
                      .item-images
                        img(src='images/img08.png' alt='')
                      .item-images
                        img.item-images(src='images/img07.png' alt='')
                      .item-images
                        img.item-images(src='images/img09.png' alt='')
                      .item-images.item-images-count
                        span.text +2

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_5.png' alt='')
                    .box-profile-content
                      h3.title Addie Martin
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray ニット・スウェット

                .box-inner
                  p.text 長時間履いても疲れない、アクティブなスポーツ系のスニーカー探しています。都会っぽいイメージのものが良いです。

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_5.png' alt='')
                    .box-profile-content
                      h3.title Louisa Arnold
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray ニット・スウェット

                .box-inner
                  p.text 長時間履いても疲れない、アクティブなスポーツ系のスニーカー探しています。都会っぽいイメージのものが良いです。

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_4.png' alt='')
                    .box-profile-content
                      h3.title Beatrice Perkins
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray アクセサリー・時計
                .box-inner
                  p.text 湿気の多い夏でも蒸れにくいリネン素材のボー
                  p.text ダー柄のTシャツ探しています。
                .box-content
                  .count-images PostへのReply (3)
                  .box-content-images
                    .item-images-3
                      img.item-images(src='images/img13.png' alt='')
                      img.item-images(src='images/img14.png' alt='')
                      img.item-images(src='images/img15.png' alt='')

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar
          .arrival-box.box-item-block
            a(href='#' class='box-item-block__link')
              .cut-and-sewn-item
                .box-header
                  .profile
                    .box-images
                      img.box-images-img(src='images/oval_5.png' alt='')
                    .box-profile-content
                      h3.title 佐藤琢美
                      .breadcrumb-link 34歳　/　男性　/　東京
                  .box-header-label
                    span.label-primary.label-primary--md.label-primary--gray ニット・スウェット

                .box-inner
                  p.text サマーニット探してます！2万で

                .box-footer
                  .box-like
                    i.icon-like.sty-icon-eye-icon
                    span.text-like 169
              .arrival-comment
                .arrival-comment__content
                  i.arrival-comment__icon.sty-icon-message
                  span.arrival-comment__text コメントする
                .arrival-comment__total
                  span.arrival-comment__label.label-message-state 8件
                  i.arrival-comment__next.sty-icon-arrow-right-calendar

    +footer()

    +snackbarStaff()

    +import-script()
