include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/sidebar/sidebar
include modules/elements/elements
include modules/import-script/import-script

doctype html
html
  +head(head.s45_t_shirt_cut_and_sewn)
  body.main-page
    +header-staff()

    .dashboard-container
      +sidebar('sidebar3_3')
      section.dashboard-content.page-cut-and-sewn
        .row
          .col-md-6
            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_5.png' alt ='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。
              .box-content
                .count-images 提案アイテム (3)
                .box-content-images
                  .item-images-3
                    img.item-images(src='images/img01.png' alt='')
                    img.item-images(src='images/img02.png' alt='')
                    img.item-images(src='images/img03.png' alt='')
              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon.sty-icon-eye-icon
                  span.text-like 169
                .box-comment 0コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_4.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れにくいリネン素材のボーダー柄のTシャツ探しています。
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れにくいリネン素材のボーダー柄のTシャツ探しています
              .box-content
                .count-images 提案アイテム (2)
                .box-content-images
                  .item-images-2
                    img.item-images(src='images/img04.png' alt='')
                    img.item-images(src='images/img05.png' alt='')
              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 169
                .box-comment 12コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_5.png' alt ='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。
              .box-content
                .count-images 提案アイテム (3)
                .box-content-images
                  .item-images-3
                    img.item-images(src='images/img13.png' alt='')
                    img.item-images(src='images/img14.png' alt='')
                    img.item-images(src='images/img15.png' alt='')
              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 1258
                .box-comment 5コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_4.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。
              .box-content
                .count-images 提案アイテム (1)
                .box-content-images
                  .item-images-1
                    img.item-images(src='images/img19.png' alt='')

              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 169
                .box-comment 0コメント

          .col-md-6
            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_5.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー

              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れにくいリネン素材のボーダー柄のTシャツ探しています。

                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れにくいリネン素材のボーダー柄のTシャツ探しています

              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 12
                .box-comment 0コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_4.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。一枚だけで存在感のあるTシャツを探しています教えてください。一枚だけで存在感のあるTシャツを探しています教えてください。一枚だけで存在感のあるTシャツを探しています教えてください。
              .box-content
                .count-images 提案アイテム (5)
                .box-content-images
                  .item-images-4
                    .item-images
                      img(src='images/img06.png' alt='')
                    .item-images
                      img(src='images/img08.png' alt='')
                    .item-images
                      img.item-images(src='images/img07.png' alt='')
                    .item-images
                      img.item-images(src='images/img09.png' alt='')
                    .item-images.item-images-count
                      span.text +1

              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 102
                .box-comment 2コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_4.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。
              .box-content
                .count-images 提案アイテム (3)
                .box-content-images
                  .item-images-3
                    img.item-images(src='images/img10.png' alt='')
                    img.item-images(src='images/img11.png' alt='')
                    img.item-images(src='images/img12.png' alt='')

              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 78
                .box-comment 0コメント

            .cut-and-sewn-item
              .box-header
                .profile
                  .box-images
                    a(href='#')
                      img.box-images-img(src='images/oval_5.png' alt='')
                  .box-profile-content
                    h3.title 佐藤琢美
                    .breadcrumb-link 31歳　/　男性　/　東京
                .box-header-label
                  span.label-primary.label-primary--md.label-primary--gray Tシャツ・カットソー
              .box-inner
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れにくいリネン素材のボーダー柄のTシャツ探しています。
                p.text 一枚だけで存在感のあるTシャツを探しています教えてください。湿気の多い夏でも蒸れ。
              .box-content
                .count-images 提案アイテム (3)
                .box-content-images
                  .item-images-3
                    img.item-images(src='images/img16.png' alt='')
                    img.item-images(src='images/img17.png' alt='')
                    img.item-images(src='images/img18.png' alt='')

              .box-footer
                .box-like
                  i.icon-like.sty-icon-eye-icon
                  span.text-like 169
                .box-comment 7コメント

    +footer()

    +snackbarStaff()

    +import-script()
