include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/sidebar/sidebar
include modules/elements/elements
include modules/import-script/import-script

doctype html
html
  +head(head.s60_bank_account_filling_edit_bank)
  body.main-page
    +header-staff()

    main.dashboard-container(role='main')
      +sidebar('sidebar3_11')

      section.dashboard-content.shop-account-confirmation.bank-account
        .box-infomation
          .title-facy-infomation 法人口座登録基本情報
          .box-item-block.info-facy
            .row
              .col-md-6.col-md-offset-3
                p.infomation-people
                  label.label-name 会社名
                  span.text-name スタイラー株式会社
                p.infomation-people
                  label.label-name 会社名カナ 　
                  span.text-name スタイラーカブシキガイシャ
                p.infomation-people
                  label.label-name 登記番号  　
                  span.text-name 1234-12-123456
                p.infomation-people
                  label.label-name 会社住所  　
                  span.text-name 〒123-4567 <br> 東京都 渋谷区 神南1丁目10番地6号 バルビゾン98401
                p.infomation-people
                  label.label-name 住所カナ  　
                  span.text-name シブヤク ジンナン イッチョウメジュウバンチロクゴウ <br> バルビゾンキュウジュウハチ　ヨンゼロイチ
            button.btn.button.button--bordered.button--primary-md.button--bordered-primary.bank-account__button--change(type='button') 変更
        .box-infomation
          .title-facy-infomation 口座管理基本情報
          .box-item-block.info-facy
            .row
              .col-md-6.col-md-offset-3
                p.infomation-people
                  label.label-name 氏名
                  span.text-name スタイラー太郎
                p.infomation-people
                  label.label-name 氏名カナ　
                  span.text-name スタイラータロウ
                p.infomation-people
                  label.label-name 性別　
                  span.text-name 男
                p.infomation-people
                  label.label-name 生年月日　
                  span.text-name 1978年3月1日
                p.infomation-people
                  label.label-name 住所　
                  span.text-name 〒123-4567 <br> 東京都 渋谷区 神南1丁目10番地6号 バルビゾン98401
                p.infomation-people
                  label.label-name 住所カナ 　
                  span.text-name シブヤク ジンナン イッチョウメジュウバンチロクゴウ <br> バルビゾンキュウジュウハチ　ヨンゼロイチ
                p.infomation-people
                  label.label-name メール　
                  span.text-name info@styler.link
                p.infomation-people
                  label.label-name 電話番号
                  span.text-name 08012345678
                p.infomation-people-avartar
                  label.label-name 本人確認
                  img.shop-account-images(src='images/shop-account.png' alt ='shop-account')
            button.btn.button.button--bordered.button--primary-md.button--bordered-primary.bank-account__button--change(type='button') 変更
        .box-infomation
          .title-facy-infomation 口座情報
          .box-item-block.info-facy
            form.form-customize.registration-form__infor
              .box-item-block.info-facy
                .row
                  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    .no-notice
                      +selectBox('銀行名', '必須', 'スタイラー銀行', '', '', 'スタイラー銀行 2', 'スタイラー銀行 C')
                .row
                  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    .no-notice
                      +selectBox('支店名', '必須', 'スタイラー銀行', '', '', 'スタイラー支店 2', 'スタイラー支店 C')
                .row
                  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    .field-wrap
                      +input-field('口座番号', '必須', '', '***1234', '', '', '', '', '')
                .row
                  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    .field-wrap
                      +input-field('口座番号', '必須', '', '***1234', '', '', '', '', '')
                .row
                  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    .field-wrap
                      +input-field('口座名義カナ', '必須', '', 'カ）スタイラー', '', '', '', '', '')
                button.btn.button.button--primary.button--primary-md.bank-account__button--change(type='button') 変更
                .registration-form__button-group
                  +button('キャンセル')(class='button--cancel button--w270')
                  +button-icon('保存する', '')(class='button--primary button--w270' data-toggle='modal' data-target='#modal-new-shop-registration')

    +footer()

    +snackbarStaff()

    +import-script()
