include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/sidebar/sidebar
include modules/elements/elements
include modules/modals/modals
include modules/import-script/import-script

doctype html
html
  +head(head.s62_modal_select_products)
  body.main-page.has-chat.modal-gallery-custom
    +header-guest()
    main.dashboard-container(role='main')
      +sidebar('sidebar1_1')
      section.dashboard-content.page-inventory-request-not-support
        .comment.comment-view
          +chatHeading()
          .nano.chat-content
            .nano-content
              +userChatMessage()
              +userChatMessageTextOnly()
              +adminChatMessageTextOnly()
              +adminChatMessage('has-no-bg-color')
              +adminChatMessage('has-bg-color')
        .comment.comment-form
          +chatFormHasTriggerModal()

    +footer()
    +snackbarGuest()

    //- Modal Request Selection
    +modal('modal-request-suggest', 'modal-md')(class='modal-request-suggest modal-vertical-middle')
      +inject('modal-header')
        .modal-suggest
          i(class='sty-icon-delete icon-close-modal' data-dismiss='modal')
      +inject('modal-body')
      +inject('modal-footer')
        .text-center
          +button('新規作成')(class='btn button--primary button--w160')
          +button('履歴選択', '')(class='button--cancel button--w160' data-toggle='modal' data-target='#modal-suggest-shop' data-dismiss='modal')

    //- Modal Suggest Shop
    +modal('modal-suggest-shop', 'modal-lg')(class='modal-suggest-shop')
      +inject('modal-header')
        .modal-suggest
          h4.modal-suggest-title カテゴリー別提案
          i(class='sty-icon-delete icon-close-modal' data-dismiss='modal')
      +inject('modal-body')
        .row.category-list
          .nano
            .nano-content
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
                .col-md-3.col-sm-3.category-item
                    a(href='#' class='category-link' data-toggle='modal' data-target='#modal-shop-product' data-dismiss='modal') ジャケット・アウター
      +inject('modal-footer')

    //- Modal Suggest Shop
    +modal('modal-shop-product', '')(class='modal-shop-product modal-vertical-middle')
      +inject('modal-header')
        .modal-suggest
          h4.modal-suggest-title スーツ・セットアップ
          i(class='sty-icon-delete icon-close-modal' data-dismiss='modal')
      +inject('modal-body')
        .nano
          .nano-content
            .product-list
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_1.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_2.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_3.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_4.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_5.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_1.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_2.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)
              .product-item
                a(href='#' class='product-item__link')
                  img(src='./images/pro_4.png' alt='' class='product-item__img')
                  .product-des
                    .group-title
                      h4.title Groupie
                      h4.subtitle コットン ホスピタルブラン
                    .product-des--detail
                      p.price-info 17,064円(税込)

      +inject('modal-footer')
        .text-center
          +button('戻る')(class='btn button--cancel button--w160')
          +button('OK', '')(class='button--primary-disabled button--w160' data-dismiss='modal')

    +import-script()
